body{
  margin: 0;
  padding: 0;
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: none;
    background-color: #1A6874;
  }
  
  .button:hover {
    background-color: #1A6874;
  }
  

  /* Style the header with a grey background and some padding */
.header {
    overflow: hidden;
    /* background-color: white; */
    padding: 10px 10px;
  }
  
  /* Style the header links */
  .header a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }
  
  /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
  
  /* Change the background color on mouse-over */
  .header a:hover {
    background-color: #206387;
    color: white;
    border-radius: 20px;
  }

  /* Float the link section to the right */
  .header-right {
    float: right;
  }
  
  
  @media screen and (width: 750px) {
    .nav-links {
      flex-direction:column;
      align-items: flex-start;
    }
    .header-right {
      display: block;
      float: none;
      
    }
    .social-icons {
      margin-top: 10px;
    }
  }
  