<div class="about">
<div class="container">
    <div class="row">
<div class="col" style="text-align: right;">
<p>نبذه عنا </p>
<h5>ابدا رحلتك التعليمية معنا</h5>
<p>هناك حقيقة منذ زمن طويل أن المحتوي المقروء للصفحة ما سيلهي القارئ عن التركيز هناك حقيقة منذ زمن طويل أن المحتوي المقروء للصفحة ما سيلهي القارئ عن التركيز هناك حقيقة منذ زمن طويل أن المحتوي المقروء للصفحة ما سيلهي القارئ عن التركيز
</p>

<div class="row">
<div class="col">
    icon
    <p>شهادة اكمال الدورة</p>
</div>
<div class="col">
    icon
    <p>شهادة اكمال الدورة</p>
</div>

<div class="col">
    icon
    <p>شهادة اكمال الدورة</p>
</div>

</div>
</div>

<div class="col" id="imagedesign">
    <!-- <img src="assets/images/people.jpg" alt=""> -->
</div>
</div>
    
</div>

</div>