
<div class="text-box">
    <pre>مرحبأ</pre>
    <h2>
        طور مهاراتك مع <br> معهد إبتكار المعرفة العالي للتدريب
    </h2>
    <pre >
        هناك حقيقة منذ زمن طويل أن المحتوي المقروء للصفحة ما سيلهي القارئ عن التركيز
        هناك حقيقة منذ زمن طويل أن المحتوي المقروء للصفحة ما سيلهي القارئ عن التركيز
        هناك حقيقة منذ زمن طويل أن المحتوي المقروء للصفحة ما سيلهي القارئ عن التركيز

    </pre>
    <form action="#">
        <button name="search">بحث</button>
<select id="category" name="category" value="">
    <option selected>اختر الفئة</option>
    <option value="cat2">Saab</option>
    <option value="cat3">Fiat</option>
    <option value="cat4">Audi</option>
  </select>
  <input type="text" name="" id="" placeholder="ابحث عما تريد">

    </form>
</div>
<br>
