*{
    padding: 0;
    margin: 0;
}
body{
    margin: 0;
    padding: 0;
    
}
.content {
  background-image: url('/assets/images/office.jpg')  ;
  background-size: 686px 824px;
  background-repeat: no-repeat;
  background-position: left;
  width: 100%;
  position:relative; /* Or 'fixed' depending on your layout needs */
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  border-top-left-radius: 200px; /* Adjust the radius value as needed */
  border-bottom-left-radius: 1000px; /* Adjust the radius value as needed */
  overflow: hidden; 
}


app-header, app-navbar, app-body {
  width: 50%; /* Ensure they fill the container */
  /* Additional styling as needed */
}